*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    
    width: 85%;
    height: 85%;
    display: block;
    gap: 10px;
}
.header-p {

    width: 100%;
    height: 50%;
    display: flex;
}
.header {
    
    height: 100%;
    width: 50%;
    display: block;
}
.title {
    height: 50%;
    width: 70%;
    font-family: 'League Spartan',sans-serif;
    color: hsl(300, 43%, 22%);
    font-size: 15px;
    font-weight: 700;
    padding-right:10rem;
    
    padding: none;
}
.paragraph {
    width: 70%;
    
    height: 50%;
    font-weight: 400;
    font-size: 15px;
    text-align: start;
    padding-right: 3.4rem;
    font-family: 'League Spartan',sans-serif;
    color: hsl(303, 10%, 53%);
}
.rating{
    width: 50%;
    
    display: block;
}
.contain {
    
    border-radius: 5px;
    display: flex;
    height: 50%;
    align-items: center;
    padding-left: 10px;
    padding-right:10px;
    gap: 10px;
    background-color: hsl(300, 24%, 96%);
}
.star {
    
    height: 30%;
    display: flex;
    align-items: center;

}
.star-component {
    
}
.review {
    color: hsl(300, 43%, 22%);
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;

    font-weight: 700;
}
.padd2 {
    padding-left: 3em;
}
.padd3 {
    
    padding-left: 7rem;
}
.proof {
    
    height: 50%;
    display: flex;
    gap: 3rem;
}
.proof-card {
    
    width: 27%;
    height: 80%;
    display: block;
}
.testimony {

    height: 50%;
    display: flex;
    
}
.divide {
    
    
    width: 33.33%;
}
.review-card {
    
    width: 70%;
    height: 80%;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 20px;
    display: block;
}
.image-name {
    
    height: 30%;
    display: flex;
    gap: 5px;
}
.image {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name {
    
    width: 80%;
    display: block;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;    
    text-align: start;   
    font-weight: 500;
    color: hsl(0, 0%, 100%); 
}
.name h1 div{
    color: hsl(333, 80%, 67%);
    margin-top: -5px;
    font-size: 15px;
    font-weight: 400;
}
.comment {
    display: flex;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    
    height: 70%;
    text-align: start;
    font-size: 15px;
    
    color: hsl(0, 0%, 100%);
}

.move1 {
    padding-top:20px;
}
.move2 {
    padding-top: 30px;
}
@media(max-width:1360px) {
    body {
        height:100%;
    }
    .card{
        width: 19.3rem;
        height: 35rem;
        border: 2px solid red;
    }
    .header-p {
        height: 25%;
        border: 1px solid blue;
        display: block;
    }
    .header {
        border: 1px solid red;
        
    }
    
}








.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 97%;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }